@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(img/jungle_bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Londrina Solid';
  }

.game-window {
    background-color: transparent;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-info-bar {
    width: 120%;
    top: 5px;
    position: relative;
    height: 60px;
    background-color: transparent;
    background-image: url(img/bar-game.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.game-logo {
    position: relative;
    bottom: 10px;
}


.time-box, .mines-counter {
    color: white;
}


.game-board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1px;
}

.game-cells {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/square.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 20px;
    font-weight: 800;
}

.popup {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 470px;
    background-color: transparent;
    background-image: url(img/popup-bg.png);
}

.popup-text {
    width: 200px;
    color: white;
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 100px;
    text-align: center;
}

.level-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 100px;;
}
.popup button {
    position: relative; 
    font-family: 'Londrina Solid';
    font-size: 28px;
    text-transform: uppercase;
    background-image: url(img/popup-button.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    color: #452B19;
    border: none;
    margin-top: 20px;
    transition: all .3s ease-in-out;
    width: 165px;
    height: 48px;
}

.popup button:hover {
    transform: scale(1.1);
    font-weight: 800;
}

#popup-game-end {
    visibility: hidden;
}

.mine {
    background-image: url(img/bomb-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.checked {
    background-image: url(img/square-checked.png);
}

.one {
    color: #9DE2DF;
}

.two {
    color: #82F77B;
}

.three {
    color: #FFAE00;
}

.four {
    color: #00468C;
}

.five {
    color: #461800;
}

.six {
    color: #005D00;
}

.seven {
    color: #B60000;
}

.eight {
    color: #7B1CCB;
}

.flag {
   background-image: url(img/flag-img.png); 
}

/*.flag::before {
    content: url(img/flag-img.png);
    width: 40%;
}